/* Estilo para los campos de entrada de texto */
input[type="text"],
input[type="password"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}

/* Estilo para el botón de envío */
input[type="submit"],
button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

/* Estilo para el botón de envío cuando se le pasa el mouse por encima */
input[type="submit"]:hover,
button[type="submit"]:hover {
  background-color: #45a049;
}

/* Estilo para los errores en etiquetas form:errors */
.errores {
  display: block;
  color: #FF0000;
  margin-top: 5px;
  font-size: 14px;
}

/* Estilo para las etiquetas form:select */
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}

/* Estilo para las etiquetas form:option */
option {
  font-size: 16px;
  color: #333;
}

/* Estilo para las etiquetas form:checkbox */
input[type="checkbox"] {
  margin-top: 10px;
}
