<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lista de juegos</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<!-- 	Barra de navegación -->
				<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
					<div class="container-fluid">
						<a class="navbar-brand" href="#"><img th:src="@{/img/dado.png}" /></a>
						<button class="navbar-toggler" type="button"
							data-bs-toggle="collapse" data-bs-target="#navbarScroll"
							aria-controls="navbarScroll" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarScroll">
							<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
								style="--bs-scroll-height: 100px;">
								<li class="nav-item"><a class="nav-link active"
									aria-current="page" href="#">Etiquetas</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Juego</a></li>
								<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
							</ul>
						</div>
					</div>
			
				</nav>
				<!-- FIN BARRA NAVEGACION -->
			</div>
		</div>
	

		<div class="row">
			<div class="col mt-1">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEtiqueta" th:onclick="cargaDatosEtiqueta(0)">Nueva etiqueta</button>
	
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>Descripcion</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="etiqueta: ${etiquetas}">
							<td th:text="${etiqueta.id}" th:id="ID+${etiqueta.id}">Oranges</td>
							<td th:text="${etiqueta.nombre}">Oranges</td>
							<td th:text="${etiqueta.descripcion}">0.99</td>
							<td><a ><i class="bi bi-pencil-square" data-bs-toggle="modal" data-bs-target="#modalEtiqueta"
								th:onclick="cargaDatosEtiqueta([[${etiqueta.id}]])"></i></a></td>
							<td><i class="bi bi-trash"
								th:onclick="eliminarEtiqueta([[${etiqueta.id}]],[[${etiqueta.nombre}]])"></i></td>
						</tr>
					</tbody>
				</table>
	
				<!-- Modal -->
				<div class="modal fade" id="modalEtiqueta" tabindex="-1"
					aria-labelledby="modalEiquetaLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="container mt-2">
									<div class="row justify-content-center">
										<div class="col-md">
											<div class="card">
												<div class="card-header bg-primary text-white">
													<h5 class="card-title">Alta o modificacion de etiquetas</h5>
												</div>
												<div class="card-body">
													<!-- 		                        <form action="/procEdicionJuego" th:object="${juego}" method="post"> -->
													<form th:object="${etiqueta}" method="post" action="/procEdicionEtiqueta">
														<input type="hidden" id="idEtiqueta" th:field="*{id}" value="0">
														<div class="mb-3">
															<label for="nombre" class="form-label">Nombre</label> 
															<input type="text" class="form-control" id="nombre" th:field="*{nombre}" required="required">
														</div>
														<div class="row">
															<div class="mb-3 col-12">
																<label for="desc" class="form-label">Descripción</label>
																<textarea class="form-control" id="desc" th:field="*{descripcion}" rows="4" />
															</div>
														</div>
	
														<!-- 									<div class="mb-3"> -->
														<!-- 		                                <label for="coop" class="form-label">¿Es por equipos?</label> -->
														<!-- 										<select class="form-select" aria-label="¿Es por equipos?" th:field="*{porEquipos}"> -->
														<!-- 		  									<option value="true">Si</option> -->
														<!-- 		  									<option value="false">No</option> -->
														<!-- 										</select> -->
														<!-- 									</div> -->
														<!-- 									<div class="mb-3"> -->
														<!-- 		                                <label for="equip" class="form-label">¿Es cooperativo?</label> -->
														<!-- 										<select class="form-select" aria-label="¿Es cooperativo?" th:field="*{cooperativo}"> -->
														<!-- 		  									<option value="true">Si</option> -->
														<!-- 		  									<option value="false">No</option> -->
														<!-- 										</select> -->
														<!-- 		                            </div> -->
														<div class="text-center">
															<button type="reset" class="btn btn-secondary">Limpiar</button>
															<button type="#" class="btn btn-primary" id="enviar">Guardar</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	
			</div>
		</div>
	</div>
	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
	<!-- Bootstrap -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
	<!-- Sweet Alert -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="/js/etiqueta.js"></script>
</body>
</html>