<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lista de juegos</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">
</head>
<body>
	<h1 th:text="${saludo}">Hello, Menk!</h1>


	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Min. Jugadores</th>
				<th>Max. Jugadores</th>
				<th>¿Es cooperativo?</th>
				<th>¿Es por equipos?</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="juego: ${juegos}">
				<td th:text="${juego.id}">Oranges</td>
				<td th:text="${juego.nombre}">Oranges</td>
				<td th:text="${juego.minJugadores}">0.99</td>
				<td th:text="${juego.maxJugadores}">0.99</td>
				<td th:text="${juego.cooperativo}? 'Si' : 'No'">0.99</td>
				<td th:text="${juego.porEquipos}? 'Si' : 'No'">0.99</td>
			</tr>
		</tbody>
	</table>


	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</body>
</html>